<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Allow existing files or folders to load normally
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Redirect all other requests to index.html
  RewriteRule . /index.html [L]
</IfModule>
